<app-header-breadcrumbs *ngIf="creating || user?.id"
                        [title]="(user?.id) ? 'Manage User': 'Create User'"
                        [crumbs]="crumbs"></app-header-breadcrumbs>

<form *ngIf="creating || user?.id" [formGroup]="formGroup">

    <table>

        <tr *ngIf="!creating && user?.id">

            <td>Id:</td>
            <td>{{ user?.id }}</td>

        </tr>

        <tr>

            <td>Username:</td>

            <td><input [attr.disabled]="disableInputs"
                       formControlName="username"
                       [(ngModel)]="user.username"
                       class="form-control"></td>

        </tr>

        <tr>

            <td>Password:</td>

            <td><input [attr.disabled]="disableInputs"
                       formControlName="password"
                       [(ngModel)]="user.password"
                       class="form-control"></td>

        </tr>

        <tr>

            <td>Account Status:</td>

            <td>
                <select formControlName="status" class="form-control" [(ngModel)]="user.status">

                    <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>

                </select>

            </td>

        </tr>

    </table>

    <div class="form-buttons">

        <button *ngIf="user?.id" class="btn btn-pink btn-block mg-b-10" (click)="onButtonDeleteClick()">
            Delete User
        </button>

        <button class="btn btn-primary btn-block mg-b-10" (click)="onButtonSaveClick()">
            Save Changes
        </button>

    </div>

</form>
