<app-header-breadcrumbs *ngIf="cake?.id || creating"
                        [title]="(cake?.id) ? 'Manage Cake': 'Create Cake'"
                        [crumbs]="crumbs"></app-header-breadcrumbs>

<form [formGroup]="formGroup" *ngIf="cake?.id || creating">

    <table>

        <tr *ngIf="cake?.id">

            <td>Id:</td>
            <td>{{ cake?.id }}</td>

        </tr>

        <tr>

            <td>Title:</td>
            <td><input formControlName="title"
                       class="form-control"
                       [(ngModel)]="cake.title"
                       [ngClass]="{ 'parsley-error': formGroup.controls['title'].invalid }">
            </td>

        </tr>

        <tr>

            <td>Description:</td>
            <td>
                <textarea formControlName="description" class="form-control" [(ngModel)]="cake.description"></textarea>
            </td>

        </tr>

        <tr>

            <td>Image URL:</td>
            <td>

                <input formControlName="image"
                       class="form-control"
                       style="width: 300px;"
                       [(ngModel)]="cake.image"
                       [ngClass]="{ 'parsley-error': formGroup.controls['image'].invalid }">

                <p *ngIf="cake.image" style="margin-top: 15px;">

                    <a href="{{ cake.image }}" target="_blank">

                        <img src="{{ cake.image }}" style="max-width: 500px">

                    </a>

                </p>

            </td>

        </tr>

    </table>

    <div class="form-buttons">

        <button *ngIf="cake?.id" class="btn btn-pink btn-block mg-b-10" (click)="onButtonDeleteClick()">
            Delete Cake
        </button>

        <button class="btn btn-primary btn-block mg-b-10"
                [disabled]="formGroup.invalid"
                (click)="onButtonSaveClick()">

            Save Changes

        </button>

    </div>

</form>
